################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeQuest/.vs/CodeQuest/FileContentIndex/1932d0c0-ec9b-4114-ae27-a44d2afd3b0d.vsidx
