################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeQuest/.vs/CodeQuest/FileContentIndex/19c23f56-e1b7-48f1-bb59-f4703e86c948.vsidx
